* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
  /* font-family: "Arimo", sans-serif; */
}

.topSection {
  width: 100%;
  /* height: 30vh; */
  background-color: #1a1c2b;
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 100px;
}

.topSection_heading > h1 {
  color: white;
  width: 75vw;
  font-size: x-large;
  padding-bottom: 5px;
}

.bottomSection {
  background-color: #171924;
}

.bottomSection_card_followerCount {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

.topSection_heading > p {
  color: #8590bf;
  font-size: 13px;
  font-weight: 400;
}

.bottomSection_row,
.bottomSection_row3 {
  color: white;
  display: flex;
  justify-content: center;
}

.bottomSection_cards,
.bottomSection_pageview {
  width: 79vw;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}

.bottomSection_card {
  width: 250px;
  background-color: #202741;
  position: relative;
  top: -70px;
  color: #8590bf;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 20px;
  /* margin-right: 20px; */
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.pageview_card {
  display: flex;
  width: 250px;
  height: 115px;
  background-color: #202741;
  position: relative;
  top: -50px;
  color: #8590bf;
  border-radius: 4px;
  margin-bottom: 20px;
}

.pageview_card .fab,
.pageview_card .fas {
  margin: 0;
}

.pageview_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.pageview_card .row1 {
  display: flex;
  justify-content: space-between;
}

.pageview_card .row2 > p {
  font-size: 2em;
  color: white;
}

.pageview_card .row2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottomSection_card_name {
  display: flex;
}

.bottomSection_card_name > p {
  margin-top: 20px;
  font-size: 12px;
  font-weight: 500;
}

.bottomSection_heading {
  color: white;
  width: 75vw;
  font-size: x-large;
  padding-bottom: 5px;
}

.bottomSection_row2 {
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
}

.bottomSection_heading {
  color: white;
  width: 79vw;
  font-size: x-large;
  padding-bottom: 5px;
  position: relative;
  top: -50px;
}

.facebook,
.twitter {
  border-top: 3px solid #008df8;
}

.circle {
  border-top: 3px solid #c70020;
  margin-right: 0;
}

.square {
  border: 3px transparent;
  background-image: linear-gradient(#202741, #202741),
    radial-gradient(circle at top left, #fdc260, #e35091);
  background-origin: border-box;
  background-clip: content-box, border-box;
  padding-top: 3px;
}

.bottomSection_card_followerCount .count {
  font-size: 3em;
  color: #fff;
  margin-bottom: 0;
  padding-bottom: 5px;
}

.bottomSection_card_followerCount .followers {
  color: #8590bf;
  font-size: 13px;
  font-weight: 400;
  position: relative;
  top: -20px;
  margin-bottom: 0;
}

.followerGrowth {
  display: flex;
  color: #01b387;
}

.followerDown {
  display: flex;
  color: #df3d46;
}

.followerGrowth > i,
.followerDown > i {
  font-size: small;
  padding-top: 5px;
  padding-right: 7px;
}

.followerGrowth > p,
.followerDown > p {
  font-size: 13px;
  font-weight: 400;
}

/* font awesome icon color */

.fab {
  margin-top: 20px;
  color: #008df8;
  padding: 3px;
  padding-right: 8px;
}

.fa-circle {
  margin-top: 20px;
  color: #c70020;
  padding: 3px;
  padding-right: 8px;
}

.fa-square {
  padding: 3px;
  padding-right: 8px;
  margin-top: 20px;
  border-radius: 2.5px;
  color: #fdc260;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #fdc260, #ebad61, #e475a7, #e35091);
}

/* media queries */

@media (max-width: 600px) {
  .bottomSection_card,
  .topSection_heading > h1,
  .topSection_heading,
  .pageview_card {
    width: 100%;
    margin-right: 0;
    flex-direction: column;
  }

  .topSection {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .facebook {
    margin-top: 50px;
  }
}
